{% extends 'layouts/base.html' %}

{%block content %}

	<h1>toto({{posterEnvoye|length}})</h1>

	{{posterEnvoye}}

	{% for po in posterEnvoye %}
	<ul>
	<li>{{po}}</li>
	</ul>
	{% endfor %}

	<br/>
	<br/>

	{% for po in posterEnvoye %}
		<article>
		<h2><a href="{% url 'blog:show' id=po.id %}">#{{po.id}}-{{po.title|upper}}</a></h2>

		<p>{{po.body|truncatewords:2}}</p>

		<p><a href="{% url 'blog:show' id=po.id %}">lire la suite</a></p>
		</article>

		{% if forloop.counter %}
		<p>au compteur</p>
		{% endif %}

		{% if forloop.counter0 %}
		<p>au compteur 0</p>
		{% endif %}

		{% if forloop.first %}
		<p>1er</p>
		{% endif %}

		{% if not forloop.last %}
		<hr>
		{% endif %}

	{% endfor %}

	{% for po in posterVide %}
	<p>{{po.id}}</p>

	{%empty%}
	<p>sorry it s empty</p>

	{% endfor %}

{% endblock %}

